---
import { Text } from '@src/components/ui/text/index.astro';

type PromiseItem = {
  lead_in_text: string;
  description: string;
};

type ProductPromise = {
  headline: string;
  sub_headline: string;
  promises: PromiseItem[];
};

// Ensure Astro.props has the correct type
const { pageContent } = Astro.props as { pageContent: ProductPromise };
---

<section class="flex flex-col justify-center py-16 lg:py-24">
  <div class="text-center max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    {/* Headline */}
    <Text size="headline" class="text-center">
      {pageContent.headline}
    </Text>

    {/* Sub-headline */}
    <Text variant="muted" size="sub_headline" class="text-center mb-10">
      {pageContent.sub_headline}
    </Text>

    {/* Product Promises List */}
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-2 lg:gap-8">
      {
        pageContent.promises.map((promise) => (
          <div class="rounded-xl max-w-sm mx-auto">
            <Text size="lead_in_text" class="text-center  my-4">
              {promise.lead_in_text}
            </Text>
            <Text variant="muted" size="description" class="text-center">
              {promise.description}
            </Text>
          </div>
        ))
      }
    </div>
  </div>
</section>
