@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@config '@root/tailwind.config.ts';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-slate-200, currentColor);
  }
}

/* prose style (Blog) */

@utility util-blog-prose {
  @apply prose dark:prose-invert util-blog-prose-heading util-blog-prose-strong util-blog-prose-p util-blog-prose-ul util-blog-prose-ol util-blog-prose-blockquote  util-blog-prose-code util-blog-prose-img;
}

@utility util-blog-prose-heading {
  @apply prose-headings:text-foreground prose-h1:text-[min(4.5vw,33px)] prose-h2:text-[min(4vw,26px)] prose-h3:text-[min(3.7vw,21px)] prose-headings:font-bold prose-headings:tracking-tight prose-headings:leading-tight;
}

@utility util-blog-prose-strong {
  @apply prose-strong:font-bold prose-strong:text-foreground;
}

@utility util-blog-prose-p {
  @apply prose-p:text-foreground prose-p:leading-7 prose-p:mt-4 prose-p:mb-6 prose-p:font-normal;
}

@utility util-blog-prose-ul {
  @apply prose-ul:text-foreground prose-ul:list-disc prose-ul:list-inside prose-ul:mt-4 prose-ul:mb-6 prose-ul:font-normal;
}

@utility util-blog-prose-ol {
  @apply prose-ol:text-foreground prose-ol:list-decimal prose-ol:list-inside prose-ol:mt-4 prose-ol:mb-6 prose-ol:font-normal marker:text-foreground;
}

@utility util-blog-prose-blockquote {
  @apply prose-blockquote:text-foreground prose-blockquote:font-normal prose-blockquote:mt-4 prose-blockquote:mb-6 prose-blockquote:leading-7 prose-blockquote:border-l-4;
}

@utility util-blog-prose-code {
  @apply prose-code:text-foreground prose-code:rounded-xs prose-code:px-1 prose-code:py-0.5 prose-code:font-normal;
}

@utility util-blog-prose-img {
  @apply prose-img:object-cover prose-img:rounded-xl prose-img:aspect-[3/2] prose-img:overflow-hidden;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply flex flex-col min-h-screen;
  }

  header {
    @apply p-8;
  }

  main {
    @apply flex-1;
  }

  footer {
    @apply container mx-auto px-6 py-8;
  }
}

/* Base Style from Shadcn : Slate */
/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 212.7 26.8% 83.9%;
  }
} */

/* Base Style from Shadcn : Gray */
/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
 
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
 
    --border: 220 13% 91%;
    --input: 220 13% 91%;
 
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
 
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
 
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 224 71.4% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
 
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
 
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
 
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
 
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
 
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
 
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
 
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
 
    --ring: 216 12.2% 83.9%;
  }
} */

/* Base Style from Shadcn :Zinc */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
}

/* Base Style from Shadcn : Neutral */
/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 0 0% 83.1%;
  }
} */

/* Base Style from Shadcn : Stone */

/* 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
 
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
 
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
 
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --ring: 20 14.3% 4.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
 
    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
 
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
 
    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
 
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
 
    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;
 
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --ring: 24 5.7% 82.9%;
  }
} */

/* ----------------------------------------------------------------------------
   Brand Color Variables:
   The CSS custom properties (variables) that begin with '--color-brand' define the
   brand's color palette. This includes definitions for background colors, text colors,
   border colors, and primary colors, supporting both light and dark modes for a
   consistent theme throughout the project.
   ---------------------------------------------------------------------------- */
/* @theme { */
/* Fonts */
/* --font-sans:
    InterVariable, ui-sans-serif, system-ui, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */

/* Brand Color Pallete */

/* Brand Background Colors */
/* --color-brand-bg: var(--color-slate-100);
  --color-brand-bg-muted: var(--color-slate-50);
  --color-brand-bg-hover: var(--color-slate-300);
  --color-brand-bg-dark: var(--color-slate-950);
  --color-brand-bg-dark-muted: var(--color-slate-900); */

/* Subtle yet well-contrasted background for input or other elements */
/* --color-brand-bg-dark-hover: var(--color-slate-800); */

/* Brand Text Colors */
/* --color-brand-text: var(--color-slate-900);
  --color-brand-text-light: var(--color-slate-600);
  --color-brand-text-hover: var(--color-slate-400);
  --color-brand-text-dark: var(--color-slate-100);
  --color-brand-text-dark-light: var(--color-slate-400);
  --color-brand-text-dark-hover: var(--color-slate-600); */

/* Border Colors */
/* --color-brand-border: var(--color-slate-300);
  --color-brand-border-hover: var(--color-slate-600);
  --color-brand-border-dark: var(--color-slate-800);
  --color-brand-border-dark-hover: var(--color-slate-400); */

/* Primary Colors */
/*   
  --color-brand-primary: var(--color-slate-900);
  --color-brand-primary-contrast: var(--color-brand-text-dark);
  --color-brand-primary-hover: var(--color-slate-800);
  --color-brand-primary-dark: var(--color-slate-100);
  --color-brand-primary-dark-contrast: var(--color-brand-text);
  --color-brand-primary-dark-hover: var(--color-slate-400); */
/* } */

/*** ***/
/*** utils mostly diretry using Brand color pallet ***/

/* ----------------------------------------------------------------------------
   Utility Classes:
   The classes prefixed with 'util-' are custom utility classes built on top of Tailwind CSS.
   They streamline the application of consistent styling across the project by leveraging
   the brand color variables and standard Tailwind utilities. These utilities cover a
   variety of styles including backgrounds, text, borders, headings, buttons, and more.
   ---------------------------------------------------------------------------- */

/* @utility util-bg-base {
  @apply util-bg-base-line;
} */

/* Add bg-transparent if you don't need filter */
/* @utility util-bg-filter {
  @apply util-bg-filter-02;
} */

/**/
/* 
@utility util-bg-muted {
  @apply bg-brand-bg-muted dark:bg-brand-bg-dark-muted;
}

@utility util-bg-transparent {
  @apply bg-brand-bg/50 dark:bg-brand-bg-dark/50;
}

@utility util-bg-transparent-light {
  @apply bg-brand-bg/70 dark:bg-brand-bg-dark/70;
}

*/
/* @utility util-bg-transparent-strong {
  @apply bg-brand-bg/10 dark:bg-brand-bg-dark/10;
} */

/* Add following to util-bg-base to add patterns to your page*/
/* @utility util-bg-base-plane {
  @apply inset-0 -z-50 bg-fixed h-full w-full bg-brand-bg dark:bg-brand-bg-dark pointer-events-none;
}

@utility util-bg-base-dot {
  @apply inset-0 -z-50 bg-fixed h-full w-full bg-[radial-gradient(#4f4f4f2e_1px,transparent_1px)] dark:bg-[radial-gradient(#ffffff14_1px,transparent_1px)] bg-[size:16px_16px] bg-brand-bg dark:bg-brand-bg-dark;
}

@utility util-bg-base-line {
  @apply bg-brand-bg dark:bg-brand-bg-dark inset-0 -z-50 bg-fixed h-full w-full bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px];
} */

/* Add following to util-bg-filter to add gradation filter on top of util-bg-base */
/* @utility util-bg-filter-01 {
  @apply inset-0 -z-40 bg-fixed h-full w-full [background-image:radial-gradient(ellipse_50%_35%_at_50%_0%,#fff_70%,transparent_200%)] dark:[background-image:radial-gradient(ellipse_25%_25%_at_50%_-20%,#3e3e3e_70%,transparent_200%)]  pointer-events-none;
}

@utility util-bg-filter-02 {
  @apply inset-0 -z-40 bg-fixed h-full w-full bg-[radial-gradient(ellipse_80%_80%_at_50%_0%,rgba(120,119,198,0.3),rgba(255,255,255,0))] dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_120%,rgba(120,119,198,0.3),rgba(255,255,255,0))] pointer-events-none;
} */

/* Brand text color */
/* @utility util-text {
  @apply text-brand-text dark:text-brand-text-dark;
} */
/*
@utility util-text-light {
  @apply text-brand-text-light dark:text-brand-text-dark-light;
} */

/* hover */

/* @utility util-brand-hover {
  @apply hover:bg-brand-bg-hover dark:hover:bg-brand-bg-dark-hover;
}

@utility util-text-hover {
  @apply hover:text-brand-text-hover dark:hover:text-brand-text-dark-hover;
} */

/* Primary colors */
/* 
@utility util-primary-bg {
  @apply bg-brand-primary dark:bg-brand-primary-dark;
}

@utility util-primary-text {
  @apply text-brand-primary-contrast dark:text-brand-primary-dark-contrast;
}

@utility util-primary-hover {
  @apply hover:bg-brand-primary-hover dark:hover:bg-brand-primary-dark-hover;
} */

/* Brand border colors */
/* @utility util-border {
  @apply border border-brand-border dark:border-brand-border-dark;
}

@utility util-border-focus {
  @apply focus:ring-1 focus:ring-brand-border-hover dark:focus:ring-brand-border-dark-hover;
}

@utility util-border-hover {
  @apply hover:ring-1 hover:ring-brand-border-hover dark:hover:ring-brand-border-dark-hover;
} */

/*** ***/
/*** utils made based on above utils ***/

/* text style */
/* @utility util-hero-headline {
  @apply util-text text-[min(6vw,70px)] font-bold whitespace-nowrap my-6 mx-2;
}

@utility util-hero-subheadline {
  @apply util-text-light text-[min(3.5vw,30px)] text-pretty max-w-[85%] lg:max-w-4xl mb-8;
}

@utility util-component-headline {
  @apply util-text font-bold text-[min(6vw,50px)];
}

@utility util-component-subheadline {
  @apply util-text-light text-[min(3.5vw,22.5px)] mt-4 max-w-3xl mx-auto text-center mb-8;
}

@utility util-page-headline {
  @apply util-text text-[min(6vw,40px)] font-bold mt-15;
}

@utility util-lead-in-text {
  @apply util-text text-xl font-semibold;
}

@utility util-description {
  @apply util-text-light;
} */

/* Buttons */
/* @utility util-primary-button {
  @apply util-primary-bg util-primary-text util-primary-hover text-center inline-flex items-center gap-x-3 rounded-full transition py-3 px-6;
}

@utility util-submit-button {
  @apply util-primary-bg util-primary-text util-primary-hover w-full px-4 py-2 mt-4 rounded-md font-medium transition;
} */
