---
import { Text } from '@src/components/ui/text/index.astro';

import { DEFAULT_LANG } from '@src/i18n/utils';

const { common } = Astro.props.pageContent;
const locale = Astro.params.lang || DEFAULT_LANG;

// Determine the base path based on the current locale.
// If locale is null (i18n is disabled), basePath will be an empty string.
const basePath = locale ? `/${locale}` : '';

// Generate menu items dynamically using the basePath
const menuItems = Object.entries(common.navigation).map(([key, value]) => ({
  href: `${basePath}${value.link.startsWith('/') ? value.link : '/' + value.link}`,
  label: value.label,
}));
---

<nav class="flex flex-1 flex-wrap justify-center md:justify-end self-start gap-4">
  {
    menuItems.map((item) => (
      <Text variant="link" href={item.href}>
        {item.label}
      </Text>
    ))
  }
</nav>
