---
import { Text } from '@src/components/ui/text/index.astro';
// Customizable links and information via props
// i18n from parent component
const { pageContent } = Astro.props;
const { common } = pageContent;
---

{/* Main content of the footer */}
<div
  class="flex flex-col md:flex-row items-center justify-between text-sm mt-8 md:mt-1 mb-12 md:mb-0 space-y-6 md:space-y-0"
>
  {/* Left: Copyright */}
  <Text class="text-muted-foreground flex-1 mt4">{common.footer.rights}</Text>

  {/* Center: Company name (fully centered) */}
  <Text size="lg" class="flex-1 text-center mt-4">{common.brand}</Text>

  {/* Right: SNS icons */}
  <div class="text-foreground flex space-x-4 flex-1 justify-end mt-4">
    {/* GitHub */}
    <a
      href="https://github.com/yourcompany"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="GitHub"
      class="hover:text-gray-600 dark:hover:text-gray-300 transition"
    >
      <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24"
        ><path
          d="M12 0C5.373 0 0 5.373 0 12c0 5.303 3.438 9.8 8.207 11.385.6.113.793-.261.793-.58 0-.285-.01-1.04-.015-2.04-3.34.726-4.042-1.61-4.042-1.61-.546-1.386-1.333-1.756-1.333-1.756-1.09-.745.083-.73.083-.73 1.205.084 1.84 1.24 1.84 1.24 1.07 1.835 2.805 1.305 3.49.998.108-.776.418-1.305.762-1.605-2.665-.305-5.466-1.332-5.466-5.93 0-1.31.468-2.38 1.236-3.22-.123-.303-.536-1.523.117-3.176 0 0 1.008-.322 3.3 1.23a11.49 11.49 0 016 0c2.292-1.552 3.3-1.23 3.3-1.23.653 1.653.24 2.873.117 3.176.768.84 1.236 1.91 1.236 3.22 0 4.61-2.805 5.622-5.478 5.917.43.37.813 1.102.813 2.22 0 1.604-.015 2.896-.015 3.293 0 .32.192.695.798.578C20.565 21.795 24 17.303 24 12 24 5.373 18.627 0 12 0z"
        ></path></svg
      >
    </a>
    {/* LinkedIn */}
    <a
      href="https://linkedin.com/company/yourcompany"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="LinkedIn"
      class="hover:text-blue-700 transition"
    >
      <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24"
        ><path
          d="M20.447 20.452h-3.554v-5.569c0-1.327-.025-3.034-1.852-3.034-1.854 0-2.14 1.45-2.14 2.943v5.66h-3.553v-11.43h3.413v1.56h.047c.477-.9 1.641-1.85 3.38-1.85 3.618 0 4.287 2.382 4.287 5.478v6.242zM5.337 7.433c-1.144 0-2.07-.927-2.07-2.07 0-1.145.926-2.07 2.07-2.07 1.144 0 2.07.925 2.07 2.07 0 1.143-.926 2.07-2.07 2.07zm1.777 13.019H3.553v-11.43h3.561v11.43zM22.224 0H1.778C.792 0 0 .775 0 1.729v20.542C0 23.224.792 24 1.778 24h20.445c.986 0 1.777-.776 1.777-1.729V1.729C24 .775 23.209 0 22.224 0z"
        ></path></svg
      >
    </a>
    {/* Discord */}
    <a
      href="https://discord.com/invite/yourcompany"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Discord"
      class="hover:text-indigo-600 dark:hover:text-indigo-400 transition"
    >
      <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
        <path
          d="M20.317 4.369a19.791 19.791 0 00-4.885-1.515c-.211.395-.404.803-.575 1.219a18.25 18.25 0 00-5.652 0 13.19 13.19 0 00-.576-1.22A19.74 19.74 0 003.683 4.37C.514 9.27-.32 14.07.098 18.805a19.967 19.967 0 006.57 3.398c.526-.712.994-1.469 1.398-2.264a13.177 13.177 0 01-2.07-1.011c.173-.123.34-.252.5-.387a13.12 13.12 0 009.096 0c.162.135.328.265.498.387a13.2 13.2 0 01-2.07 1.011c.404.794.872 1.552 1.398 2.264a19.968 19.968 0 006.57-3.398c.448-4.69-.59-9.49-3.757-14.436zm-11.17 9.862c-1.232 0-2.24-1.131-2.24-2.523 0-1.393.986-2.524 2.24-2.524 1.255 0 2.263 1.132 2.24 2.524 0 1.392-.985 2.523-2.24 2.523zm6.708 0c-1.231 0-2.24-1.131-2.24-2.523 0-1.393.987-2.524 2.24-2.524s2.24 1.132 2.24 2.524c0 1.392-.986 2.523-2.24 2.523z"
        ></path>
      </svg>
    </a>
    {/* YouTube */}
    <a
      href="https://www.youtube.com/c/yourcompany"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="YouTube"
      class="hover:text-red-600 dark:hover:text-red-400 transition"
    >
      <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
        <path
          d="M23.498 6.186a2.993 2.993 0 00-2.109-2.12C19.04 3.524 12 3.524 12 3.524s-7.04 0-9.389.542a2.993 2.993 0 00-2.109 2.12C0 8.575 0 12 0 12s0 3.425.502 5.814a2.993 2.993 0 002.109 2.12C4.96 20.476 12 20.476 12 20.476s7.04 0 9.389-.542a2.993 2.993 0 002.109-2.12C24 15.425 24 12 24 12s0-3.425-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"
        ></path>
      </svg>
    </a>
    {/* Bluesky */}
    <a
      href="https://bsky.app/profile/yourcompany"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Bluesky"
      class="hover:text-blue-500 dark:hover:text-blue-400 transition"
    >
      <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
        <path
          d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565C.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479c.815 2.736 3.713 3.66 6.383 3.364c.136-.02.275-.039.415-.056c-.138.022-.276.04-.415.056c-3.912.58-7.387 2.005-2.83 7.078c5.013 5.19 6.87-1.113 7.823-4.308c.953 3.195 2.05 9.271 7.733 4.308c4.267-4.308 1.172-6.498-2.74-7.078a8.741 8.741 0 0 1-.415-.056c.14.017.279.036.415.056c2.67.297 5.568-.628 6.383-3.364c.246-.828.624-5.79.624-6.478c0-.69-.139-1.861-.902-2.206c-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8"
        ></path>
      </svg>
    </a>
    {/* X (Twitter) */}
    <a
      href="https://x.com/yourcompany"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="X"
      class="hover:text-gray-900 dark:hover:text-gray-100 transition"
    >
      <svg class="w-6 h-6 fill-current" viewBox="0 0 256 256">
        <path
          d="m218.12 209.56l-61-95.8l59.72-65.69a12 12 0 0 0-17.76-16.14l-55.27 60.84l-37.69-59.21A12 12 0 0 0 96 28H48a12 12 0 0 0-10.12 18.44l61 95.8l-59.76 65.69a12 12 0 1 0 17.76 16.14l55.31-60.84l37.69 59.21A12 12 0 0 0 160 228h48a12 12 0 0 0 10.12-18.44M166.59 204L69.86 52h19.55l96.73 152Z"
        ></path>
      </svg>
    </a>
    {/* Instagram */}
    <a
      href="https://instagram.com/yourcompany"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Instagram"
      class="hover:text-pink-500 dark:hover:text-pink-400 transition"
    >
      <svg class="w-7 h-7 fill-current transform -translate-y-0.5" viewBox="0 0 24 24">
        <path
          d="M20.947 8.305a6.53 6.53 0 0 0-.419-2.216a4.61 4.61 0 0 0-2.633-2.633a6.606 6.606 0 0 0-2.186-.42c-.962-.043-1.267-.055-3.709-.055s-2.755 0-3.71.055a6.606 6.606 0 0 0-2.185.42a4.607 4.607 0 0 0-2.633 2.633a6.554 6.554 0 0 0-.419 2.185c-.043.963-.056 1.268-.056 3.71s0 2.754.056 3.71c.015.748.156 1.486.419 2.187a4.61 4.61 0 0 0 2.634 2.632a6.584 6.584 0 0 0 2.185.45c.963.043 1.268.056 3.71.056s2.755 0 3.71-.056a6.59 6.59 0 0 0 2.186-.419a4.615 4.615 0 0 0 2.633-2.633c.263-.7.404-1.438.419-2.187c.043-.962.056-1.267.056-3.71c-.002-2.442-.002-2.752-.058-3.709zm-8.953 8.297c-2.554 0-4.623-2.069-4.623-4.623s2.069-4.623 4.623-4.623a4.623 4.623 0 0 1 0 9.246zm4.807-8.339a1.077 1.077 0 0 1-1.078-1.078a1.077 1.077 0 1 1 2.155 0c0 .596-.482 1.078-1.077 1.078z"
        ></path>
        <circle cx="11.994" cy="11.979" r="3.003" fill="currentColor"></circle>
      </svg>
    </a>
    {/* Facebook */}
    <a
      href="https://facebook.com/yourcompany"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Facebook"
      class="hover:text-blue-600 dark:hover:text-blue-400 transition"
    >
      <svg class="w-[1.5rem] h-[1.5rem] fill-current transform -translate-y-0.4" viewBox="0 0 24 24">
        <path
          d="M24 12.073c0-6.627-5.373-12-12-12s-12 5.373-12 12c0 5.99 4.388 10.954 10.125 11.854v-8.385H7.078v-3.47h3.047V9.43c0-3.007 1.792-4.669 4.533-4.669c1.312 0 2.686.235 2.686.235v2.953H15.83c-1.491 0-1.956.925-1.956 1.874v2.25h3.328l-.532 3.47h-2.796v8.385C19.612 23.027 24 18.062 24 12.073z"
        ></path>
      </svg>
    </a>
    {/* TikTok */}
    <a
      href="https://www.tiktok.com/@yourcompany"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="TikTok"
      class="hover:text-black dark:hover:text-white transition"
    >
      <svg class="w-7 h-7 fill-current transform -translate-y-0.5" viewBox="0 0 24 24">
        <path
          d="M18.857 3H5.143A2.145 2.145 0 0 0 3 5.143v13.714C3 20.04 3.961 21 5.143 21h13.714A2.145 2.145 0 0 0 21 18.857V5.143A2.145 2.145 0 0 0 18.857 3m-1.712 7.853a3.17 3.17 0 0 1-1.822-.371a3.2 3.2 0 0 1-1.16-1.066v4.944a3.654 3.654 0 1 1-3.654-3.654c.076 0 .15.007.225.011v1.801c-.075-.009-.148-.023-.225-.023a1.865 1.865 0 1 0 0 3.73c1.03 0 1.94-.811 1.94-1.841l.018-8.398h1.723a3.21 3.21 0 0 0 2.957 2.865v2.002"
        ></path>
      </svg>
    </a>
  </div>
</div>
