---
import { Text } from '@components/ui/text/index.astro';
interface TimelineItem {
  date: string;
  title: string;
  description: string;
}

const timeline: TimelineItem[] = [
  {
    date: 'Aug 2021',
    title: 'Founded company',
    description:
      'Nihil aut nam. Dignissimos a pariatur et quos omnis. Aspernatur asperiores et dolorem dolorem optio voluptate repudiandae.',
  },
  {
    date: 'Dec 2021',
    title: 'Secured $65m in funding',
    description:
      'Provident quia ut esse. Vero vel eos repudiandae aspernatur. Cumque minima impedit sapiente a architecto nihil.',
  },
  {
    date: 'Feb 2022',
    title: 'Released beta',
    description:
      'Sunt perspiciatis incidunt. Non necessitatibus aliquid. Consequatur ut officiis earum eum quia facilis. Hic deleniti dolorem quia et.',
  },
  {
    date: 'Dec 2022',
    title: 'Global launch of product',
    description:
      'Ut ipsa sint distinctio quod itaque nam qui. Possimus aut unde id architecto voluptatem hic aut pariatur velit.',
  },
];
---

<div class="grid grid-cols-1 lg:grid-cols-4 py-8 px-6 max-w-2xl lg:max-w-6xl mx-auto">
  {
    timeline.map((item, index) => (
      <div class=" pl-4">
        <div class="flex flex-col flex-1 relative">
          <div class="flex items-center">
            <span class="w-1 h-1 rounded-full bg-primary mr-2" />
            <span class="text-primary text-sm font-semibold">{item.date}</span>
          </div>
          {index < timeline.length && (
            <div class="hidden lg:block absolute top-1/2 left-1/3 h-0.5 w-4/6 bg-primary/20" />
          )}
        </div>

        <Text size="lg" class="mt-2 lg:mt-4 mb-1" as="h3">
          {item.title}
        </Text>
        <Text variant="muted">{item.description}</Text>
      </div>
    ))
  }
</div>
