---
import '@styles/global.css';
// import "../styles/app.css";
// import components
import Navbar from '@components/layout/navbar/index.astro';
import FooterNav from '@components/layout/footerNav/index.astro';
import Footer from '@components/layout/footer/index.astro';
import { Background } from '@src/components/layout/background/index.astro';

// i18n imports
import { DEFAULT_LANG } from '@src/i18n/utils';
const locale = Astro.params.lang || DEFAULT_LANG;

// i18n from parent component
// Get locale from parent component. set default language if cannot get from parent
const { pageContent, searchable = false } = Astro.props;
const { common } = Astro.props.pageContent;
const { meta } = Astro.props;
---

<html lang={locale}>
  <head>
    <script>
      // Detect and apply user's preferred theme (dark or light) before page loads
      // If the user has not set a theme in localStorage, use the system preference
      (function () {
        const theme =
          localStorage.getItem('theme') ||
          (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');

        if (theme === 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
        }
        // change display to block after loading to prevent white flash
        document.addEventListener('DOMContentLoaded', function () {
          document.body.style.display = 'block';
        });
      })();
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{meta?.title ?? common.title}</title>
    <meta name="description" content={meta?.description ?? ''} />
    <meta
      name="robots"
      content={`${meta?.robots?.index !== false ? 'index' : 'noindex'}, ${meta?.robots?.follow !== false ? 'follow' : 'nofollow'}`}
    />
    <!-- <meta name="description" content="add description of the site" /> -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>
  <body>
    <Background variant="default" pattern="default" effect="default">
      <div class="relative flex flex-col min-h-screen pointer-events-auto">
        <header class="p-4">
          <Navbar pageContent={pageContent} />
        </header>
        <main role="main" class="flex-grow max-w-screen lg:max-w-6xl mx-auto">
          <slot />
        </main>
        {/* Footer */}
        <footer>
          <FooterNav pageContent={pageContent} />
          <Footer pageContent={pageContent} type="simple" />
        </footer>
      </div>
    </Background>
  </body>

  <style>
    body {
      display: none;
    }
  </style>
</html>
